<section class="home">
  <div class=" container">
    <div-c>
      <img id="logo" src="../../assets/rane.png" class= "center">
    </div-c>
    <h1 class="text-center" style="font-family: 'Copperplate Gothic Light'"><b>DHRM</b></h1>
    <br>
    <div class="row mt-3" >
      <div class="col-lg-3 mb-3 " id="shift1">
        <div class="box shadow-sm">
          <img class= "picture" src="../../assets/ta.png" style="width:100%">
          <h3 class="text mt-2">Trainee New Application</h3>
          <button class="btn btn-primary btn-sm mt-2" routerLink="/traineeapplication">Click Here</button>
        </div>
      </div>
      <div class="col-lg-3 mb-3" id="shift2">
        <div class="box shadow-sm" routerLink="/rml/masters/dept ">
          <img class= "picture" src="../../assets/shr.png" style="width:100%">
          <h3 class="text mt-2">RML User Login</h3>
          <button class="btn btn-primary btn-sm mt-2" routerLink="/home/rml">Click Here</button>
        </div>
      </div>
      <div class="col-lg-3 mb-3" id="shift3">
        <div class="box shadow-sm" routerLink="/traineetest">
          <img class= "picture" src="../../assets/tt.png" style="width:100%">
          <h3 class="text mt-2">Trainee Test(DOJO)</h3>
          <button class="btn btn-primary btn-sm mt-2" routerLink="/traineetest">Click Here</button>
        </div>
      </div>
      <div class="col-lg-3 mb-3" id="shift4">
        <div class="box shadow-sm" routerLink="/traineetest">
          <img class= "picture" src="../../assets/tt.png" style="width:100%">
          <h3 class="text mt-2">Trainer Login(DOJO)</h3>
          <!-- <button class="btn btn-primary btn-sm mt-2" routerLink="/traineetest">Click Here</button> -->
        </div>
      </div>
      <div class="col-lg-3 mb-3" id="shift5">
        <div class="box shadow-sm" routerLink="/traineeevaluation">
          <img class= "picture" src="../../assets/te.png" style="width:100%">
          <h3 class="text mt-2">ARS Login</h3>
          <!-- <button class="btn btn-primary btn-sm mt-2" routerLink="/traineeevaluation">Click Here</button> -->
        </div>
      </div>

    </div>
  </div>

</section>
<router-outlet></router-outlet>
